body {
    overflow-x: hidden;
}

header {
    width: 100vw;
}

main {
    width: 100vw;
}

.object-cover {
    object-fit: cover;
}

.object-contain {
    object-fit: contain;
}

.filter-invert {
    filter: invert();
}

section#menu .nav-link {
    border: 0;
    background: transparent;
    padding-bottom: 20px;
    font-weight: 600;
    text-transform: capitalize;
    width: 60px;
}

section#menu .nav-link.active {
    color: #44c473 !important;
    border-bottom: 1px #333 solid;
}

.columns-4 {
    column-count: 4;
}


